[submodule "external/gflownet"]
	path = external/gflownet
	url = https://github.com/amelie-iska/gflownet.git
[submodule "external/Forest-of-Thought"]
	path = external/Forest-of-Thought
	url = https://github.com/amelie-iska/Forest-of-Thought.git
[submodule "amelie-iska/parameter-golf"]
	path = amelie-iska/parameter-golf
	url = https://github.com/amelie-iska/parameter-golf.git
	branch = oai-advanced
[submodule "external/mup"]
	path = external/mup
	url = https://github.com/amelie-iska/mup.git
[submodule "external/ProTrek"]
	path = external/ProTrek
	url = https://github.com/amelie-iska/ProTrek.git
